# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/**

# Generated main JS file
!build/main.dart.node.js

# Directory created by dartdoc
doc/api/

# IDE files
.vscode/